.storie {
   border-radius: 15px;
   box-shadow: 0px 10px 25px 0px rgba(32, 33, 44, 0.1);
   overflow: hidden;
   display: flex;
   flex-direction: row;
   height: 550px;
   margin: 0 20px;
   position: relative;
   top: 0;
   transition: top 250ms ease-out;
   &:hover {
      top: -5px;
   }
   .cover {
      position: relative;
      flex-basis: 45%;
      img {
         position: absolute;
         object-fit: cover;
         height: 100%;
         top: 0;
         right: 0;
      }
   }
   .content {
      flex-basis: 55%;
      background-color: #FFFFFF;
      padding: 35px;
   }
}
