.story {
   display: flex;
   flex-direction: row;
   height: 550px;
   margin: 15px 0;
   position: relative;
   top: 0;
   transition: top 250ms ease-out;
   &:hover {
      top: -5px;
   }
   .cover {
      position: relative;
      flex-basis: 45%;
      overflow: hidden;
      img {
         position: absolute;
         object-fit: cover;
         height: 100%;
         top: 0;
         right: 0;
      }
   }
   .content {
      flex-basis: 55%;
   }
   &.tale {
      flex-direction: column;
      .cover {
         img {
            width: 100%;
            height: auto;
            bottom: 0;
            left: 0;
            margin: auto;
         }
      }
   }
   @media screen and (max-width: 767px) {
      flex-direction: column;
      .cover {
         img {
            width: 100%;
            height: auto;
            bottom: 0;
            left: 0;
            margin: auto;
         }
      }
   }
}
