.introductionSection {
   background-color: #EBEDFF;
   margin: 60px 0 45px 0;
   img.igorIllustration {
      margin: -40px 0 -30px 0;
      @media only screen and (max-width: 792px) {
         margin-bottom: 20px;
         margin-top: 30px;
      }
   }
}
