.highlighted {
   display: inline-block;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      width: calc(100% + 40px);
      height: 32px;
      top: 1px;
      left: -20px;
      right: 0;
      margin: auto;
      background-color: #FCF4B4;
      pointer-events: none;
      z-index: -1;
   }
}
